@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-LightItalic.otf")
        format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-RegularItalic.otf")
        format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-MediumItalic.otf")
        format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-SemiBoldItalic.otf")
        format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-Heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-HeavyItalic.otf")
        format("opentype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist/Geist-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist/Geist-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.seasonmix {
    font-family: var(--font-family-serif);
    font-weight: 400;
    font-style: italic;
}

/*@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/Suisse Int'l Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("/fonts/SuisseIntl-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeasonMix";
    src: url("/fonts/DP_season-mix/SeasonMix-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}*/
