.hero-section {
    display: flex;
    align-items: flex-start;
    height: auto;
    color: var(--brand-light);
    @media only screen and (min-width: 1024px) {
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    & .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        @media only screen and (min-width: 1024px) {
            align-items: center;
        }
        & .brand-logo {
            width: 60px;
            @media only screen and (min-width: 1024px) {
                width: 100px;
            }
        }

        & .hero-heading-wrap {
            text-align: left;
            @media only screen and (min-width: 1024px) {
                text-align: center;
            }
            & h1 {
                font-family: var(--font-family-display);
                font-size: 2.2rem;
                font-weight: 400;
                letter-spacing: -1px;
                @media only screen and (min-width: 1024px) { 
                    font-size: 5.2rem;
                    line-height: 80%;
                }
                span {
                    font-family: var(--font-family-sans);
                    font-weight: 500;
                    letter-spacing: -1px;
                    @media only screen and (min-width: 1024px) { 
                        font-size: 2.2rem;
                    }
                }
            }
        }

        & .hero-subheading {
            font-family: var(--font-family-sans);
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--light-muted);
            text-align: left;
            @media only screen and (min-width: 1024px) {
                text-align: center;
                width: 70%;
            }
            @media only screen and (min-width: 1280px) { 
                width: 50%;
            }
        }
    }
}

.current-breakdown-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 5rem;
    }
    & .current-breakdown-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        font-size: 1.2rem;
        font-weight: 400;

        & .item-heading {
            font-family: var(--font-family-sans);
            color: var(--light-muted);
            font-weight: 400;
        }

        & .item-value {
            font-family: var(--font-family-sans);
            color: var(--brand-light);
        }
    }
}

.selected-projects-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    & .project-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;

        & .project-information {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .project-title {
                font-family: var(--font-family-display);
                font-size: 2.2rem;
                font-weight: 400;
                letter-spacing: -1px;
                color: var(--brand-light);
            }

            & .project-breakdown {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.75rem;

                @media only screen and (min-width: 768px) {
                    flex-direction: row;
                }

                & .project-breakdown-item {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    & .breakdown-item-heading {
                        font-family: var(--font-family-sans);
                        color: var(--light-muted);
                        font-weight: 400;
                    }

                    & .breakdown-item-value {
                        font-family: var(--font-family-sans);
                        color: var(--brand-light);
                    }
                }
            }
        }

        & .project-image-container {
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: 1fr;
            gap: 1rem;

            @media only screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            & .project-image-lg {
                display: block;
                width: 100%;
                height: auto;
            }

            & .project-image-set {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                & .project-image-set-item {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.mini-bio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    & p {
        font-family: var(--font-family-display);
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: -1px;
        color: var(--brand-light);
    }
}

.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    & .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .footer-title {
            font-family: var(--font-family-display);
            font-size: 3rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
            text-align: center;
            color: var(--brand-light);
        }
    }

    & .copyright-content {
        position: absolute;
        bottom: 32px;
        left: 16px;
        right: 16px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        & .footer-brand-logo {
            width: 40px;
            height: auto;
        }

        & .copyright-text {
            font-family: var(--font-family-sans);
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 0px;
            color: var(--brand-light);
        }
    }
}

.section-title {
    font-family: var(--font-family-display);
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--light-muted);
}

.section-divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-border);
}



